<section class="layout-pt-60 layout-pb-100">
	<div class="auto-container">
		<div class="row justify-content-center align-items-center text-center">
			<div class="section-title-page col-lg-12">
				<h2 class="fw-700">SPECIALIST DETAIL</h2>
				<div class="text"><%= @specialist.headline %></div>
			</div>
		</div>
	</div>
</section>

<!-- About Section -->
<section class="about-section specialist style-two layout-pt-0">
	<div class="auto-container">
		<div class="row">
			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<figure class="image wow fadeInLeft">
					<%= image_tag url_for(@specialist.image) if @specialist.image.attached?  %>
				</figure>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column wow fadeInUp">
					<div class="sec-title">
						<h2><%= @specialist.name %></h2>
						<div class="text mr-20">
							<%= raw @specialist.description %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->
<%= render "available_doctors" unless @doctors.empty? %>

<style>
	.content-column {
		margin-bottom: 0 !important;
	}
	.image-column img {
		width: 250px;
	}
	.text p {
		margin-bottom: 20px;
	}
	.about-section.style-two .content-column h2 {
		font-size: 46px;
	}
</style>
