<table class="table table-hover">
	<tr>
		<td style="width:15%;"><b>ID</b></td>
		<td><%= @specialist.id %></td>
	</tr>
	<% if @specialist.image.attached? %>
	<tr>
		<td><b>Image</b></td>
		<td>
			<%= image_tag @specialist.image.variant(resize_to_limit: [100,100]) %>
		</td>
	</tr>
	<% end %>
	<% if @specialist.image1.attached? %>
	<tr>
		<td><b>Image 1</b></td>
		<td>
			<%= image_tag @specialist.image1.variant(resize_to_limit: [100,100]) %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td><b>Name</b></td>
		<td><h5 class="fs-14 mb-0 text-body"><%= @specialist.name %></h5></td>
	</tr>
	<tr>
		<td><b>Slug</b></td>
		<td><%= link_to specialist_path(@specialist), specialist_path(@specialist) %></td>
	</tr>
	<tr>
		<td><b>Headline</b></td>
		<td><%= @specialist.headline %></td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td><%= raw @specialist.description %></td>
	</tr>
</table>
