<%= simple_form_for @specialist, url: (@specialist.new_record? ? admins_specialists_path : admins_specialist_path(@specialist.id)), method: (@specialist.new_record? ? :post : :put) do |f| %>
	<div class="row">
		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<%= f.error_notification %>
					<fieldset>
						<%= f.input :image, as: :file, input_html: { class: "mb-3", accept: "image/gif, image/png, image/jpg, image/jpeg" } %>
						<%= f.input :image1, as: :file, input_html: { class: "mb-3", accept: "image/gif, image/png, image/jpg, image/jpeg" } %>
						<%= f.input :name, as: :string %>
						<%= f.input :headline, as: :text %>
						<%= f.input :description, as: :text %>
					</fieldset>
					<%= f.error :base %>
					<div class="form-actions">
						<%= f.button :submit, :class => 'btn btn-secondary' %>
						<% unless @specialist.new_record? %>
							<%= link_to "Cancel", admins_specialist_path(@specialist.id), :class => 'btn btn-light' %>
						<% else %>
							<%= link_to "Cancel", admins_specialists_path, :class => 'btn btn-light' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<%= render "admins/shared/error_messages", :target => @specialist, col: 'col-lg-12' %>
			</div>
		</div>
	</div>
<% end %>
