<%- _image_url = image_url(configatron.search_banner) -%>
<!-- start page single banner -->
<section class="text-white-2 wow animate__fadeIn pb-0 cover-background" style="background-image:url('<%= _image_url %>');">
	<div class="opacity-extra-medium bg-black"></div>
		<div class="container-xl position-relative h-100px">
			<div class="row h-100">
				<div class="col-12 margin-20px-top">
					<h4 class="font-weight-320 text-uppercase margin-35px-bottom sm-margin-15px-bottom w-50 lg-w-60 md-w-80"><%= t('global.search_results') %></h4>
				</div>
			</div>
		</div>
</section>
<!-- end page single banner -->
<% unless @pages.empty? %>
<!-- start section -->
<section class="<%= 'pb-0' unless @articles.empty? %> wow animate__fadeIn">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 margin-50px-bottom md-margin-30px-bottom">
				<h5 class="font-weight-400 alt-font mb-0"><%= t('global.pages') %></h5>
			</div>
		</div>
		<div class="row justify-content-center">
			<article class="col-lg-9 padding-15px-left padding-45px-right">
				<% @pages.each do |page| %>
					<!-- start post item -->
					<div class="blog-post-content margin-60px-bottom padding-30px-bottom d-block border-bottom border-color-extra-light-gray md-margin-30px-bottom md-padding-30px-bottom">
						<div class="row g-0 align-items-center">
							<div class="col-lg-12 blog-text">
								<div class="content margin-20px-bottom md-no-padding-left">
									<a href="<%= page_path(page) %>" class="margin-5px-bottom alt-font text-extra-large font-weight-500 d-inline-block"><%= page.title %></a>
								</div>
								<%= link_to page_path(page), class: "btn btn-veritas btn-medium btn-rounded margin-10px-top sm-margin-10px-top" do %>
									<%= t('global.read_more') %> <i class="veritas-icon-right icon-very-small" aria-hidden="true"></i>
								<% end %>
							</div>
						</div>
					</div>
					<!-- end post item -->
				<% end %>
			</article>
		</div>
	</div>
</section>
<!-- start section -->
<% end %>
<% unless @articles.empty? %>
<!-- start section -->
<section class="<%= 'pt-0' unless @pages.empty? %> wow animate__fadeIn">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 margin-50px-bottom md-margin-30px-bottom">
					<h5 class="font-weight-400 alt-font mb-0"><%= t('global.articles') %></h5>
				</div>
			</div>
				<div class="row justify-content-center">
						<article class="col-lg-9 padding-15px-left padding-45px-right">
							<% @articles.each do |article| %>
								<!-- start post item -->
								<div class="blog-post-content margin-60px-bottom padding-30px-bottom d-block border-bottom border-color-extra-light-gray md-margin-30px-bottom md-padding-30px-bottom">
									<div class="row g-0 align-items-center">
										<div class="col-lg-12 blog-text">
											<div class="content margin-20px-bottom md-no-padding-left">
												<a href="<%= article_path(article) %>" class="margin-5px-bottom alt-font text-extra-large font-weight-500 d-inline-block"><%= article.title %></a>
												<div class="text-medium margin-15px-bottom text-uppercase"><%= article.try(:published_date).try(:strftime, '%d/%m/%Y') %>&nbsp;|&nbsp;<a href="<%= article.category.slug %>"><%= article.category.name %></a></div>
												<p class="m-0 w-95"><%= article.short_description %></p>
											</div>
											<%= link_to article_path(article), class: "btn btn-veritas btn-medium btn-rounded margin-10px-top sm-margin-10px-top" do %>
												<%= t('global.read_more') %> <i class="veritas-icon-right icon-very-small" aria-hidden="true"></i>
											<% end %>
										</div>
									</div>
								</div>
								<!-- end post item -->
							<% end %>
						</article>
				</div>
		</div>
</section>
<!-- start section -->
<% end %>
<% if @pages.empty? and @articles.empty? %>
<!-- start section -->
<section class="wow animate__fadeIn">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 margin-50px-bottom md-margin-30px-bottom sm-margin-10px-bottom">
				<h5 class="font-weight-400 alt-font mb-0"><%= t('global.search_not_found', search: params[:search]) %></h5>
			</div>
		</div>
	</div>
</section>
<!-- start section -->
<% end %>
