<%= simple_form_for @page, url: (@page.new_record? ? admins_pages_path : admins_page_path(@page.id)), method: (@page.new_record? ? :post : :put) do |f| %>
	<div class="row">
		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<%= f.error_notification %>
					<fieldset>
						<!-- Accordions with Icons -->
						<div class="accordion custom-accordionwithicon mb-3" id="accordionWithicon">
							<div class="accordion-item">
								<h2 class="accordion-header" id="accordionwithiconExample1">
									<button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#metatags" aria-expanded="true" aria-controls="metatags">
										<i class="ri-global-line me-2"></i> META TAGS
									</button>
								</h2>
								<div id="metatags" class="accordion-collapse collapse" aria-labelledby="metatags" data-bs-parent="#accordionWithicon">
									<div class="accordion-body">
										<%= f.input :meta_title, as: :string %>
										<%= f.input :meta_description, as: :text %>
									</div>
								</div>
							</div>
						</div>
					<%= f.input :title, as: :string %>
					<%= f.association :banner_section, as: :select %>
					<%= f.input :content, as: :rich_text_area %>
					</fieldset>
					<%= f.error :base %>
					<div class="form-actions">
						<%= f.button :submit, :class => 'btn btn-secondary' %>
						<% unless @page.new_record? %>
							<%= link_to "Cancel", admins_page_path(@page.id), :class => 'btn btn-light' %>
						<% else %>
							<%= link_to "Cancel", admins_pages_path, :class => 'btn btn-light' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<%= render "admins/shared/error_messages", :target => @page, col: 'col-lg-12' %>
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">Settings</h5>
						</div>
						<div class="card-body">
							<%= f.input :published_date, as: :string, input_html: { class: "datetimepicker", value: get_input_date_value(f.object.published_date) } %>
							<%= f.input :status, as: :select, collection: get_published_status, value_method: :first, label_method: :last %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<%= content_for :tail do %>
	<%= stylesheet_link_tag :actiontext, "data-turbo-track": "reload" %>
	<%= javascript_include_tag :trix %>
	<%= javascript_include_tag :actiontext %>
	<%= javascript_include_tag "trix_config.js" %>
<% end %>
