<div class="table-card">
	<table class="table table-hover table-striped align-middle mb-0">
		<thead class="table-light">
			<tr>
				<th class="text-center">ID</th>
				<th>Photo</th>
				<th>Profesional Name</th>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% for doctor in @doctors %>
				<tr>
					<td class="text-center"><%= doctor.id %></td>
					<td>
						<% if doctor.photo.attached? %>
							<%= image_tag doctor.photo.variant(resize_to_limit: [100,100]) %>
						<% else %>
							<%= image_tag "doctor-avatar.png", style: "height:100px;" %>
						<% end %>
					</td>
					<td>
						<h5 class="fs-14 mb-1"><%= link_to doctor.profesional_name, admins_doctor_path(doctor.id), class: "text-body" %></h5>
						<p class="text-muted mb-0">Name : <%= doctor.full_name %></p>
					</td>
					<td>
						<p class="text-muted mb-0"><%= doctor.title %></p>
					</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ri-more-fill"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<%= link_to admins_doctor_path(doctor.id), class: "dropdown-item" do %>
										<i class="ri-eye-fill align-bottom me-2 text-muted"></i> View
									<% end %>
								</li>
								<li>
									<%= link_to edit_admins_doctor_path(doctor.id), class: "dropdown-item edit-list" do %>
										<i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit
									<% end %>
								</li>
								<li class="dropdown-divider"></li>
								<li>
									<%= link_to admins_doctor_path(doctor.id), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: "dropdown-item remove-list" do %>
										<i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
									<% end %>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- pagination -->
<%= paginate @doctors %>
