<div class="table-card">
	<table class="table table-hover table-striped align-middle mb-0">
		<thead class="table-light">
			<tr>
				<th class="text-center">ID</th>
				<th>Contact</th>
				<th>Appointment</th>
				<th>Message</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% for appointment in @appointments %>
				<tr>
					<td class="text-center"><%= appointment.id %></td>
					<td>
						<h5 class="fs-14 mb-1"><%= link_to appointment.full_name, admins_appointment_path(appointment), class: "text-body" %></h5>
						<p class="text-muted mb-1">Email : <%= appointment.email %></p>
						<p class="text-muted mb-0">Phone : <%= appointment.phone %></p>
					</td>
					<td>
						<h5 class="fs-14 mb-1"><%= link_to appointment.try(:doctor).try(:profesional_name), admins_doctor_path(appointment.try(:doctor).try(:id)), class: "text-body" %></h5>
						<p class="text-muted mb-1">Date : <%= appointment.session_date.strftime('%d/%m/%Y') %></p>
						<p class="text-muted mb-0">Time : <%= appointment.session_time %></p>
					</td>
					<td>
						<%= appointment.message %>
					</td>
					<td>
						<div class="dropdown">
							<button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="ri-more-fill"></i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<%= link_to admins_appointment_path(appointment.id), class: "dropdown-item" do %>
										<i class="ri-eye-fill align-bottom me-2 text-muted"></i> View
									<% end %>
								</li>
								<li>
									<%= link_to edit_admins_appointment_path(appointment.id), class: "dropdown-item edit-list" do %>
										<i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit
									<% end %>
								</li>
								<li class="dropdown-divider"></li>
								<li>
									<%= link_to admins_appointment_path(appointment.id), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: "dropdown-item remove-list" do %>
										<i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
									<% end %>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<!-- pagination -->
<%= paginate @appointments %>
