<table class="table table-hover">
	<tr>
		<td style="width:15%;"><b>ID</b></td>
		<td><%= @institution.id %></td>
	</tr>
	<tr>
		<td><b>Name</b></td>
		<td><h5 class="fs-14 mb-0 text-body"><%= @institution.name %></h5></td>
	</tr>
	<tr>
		<td><b>Slug</b></td>
		<td><%= @institution.slug %></td>
	</tr>
	<% if @institution.thumbnail.attached? %>
	<tr>
		<td><b>Thumbnail</b></td>
		<td>
			<%= image_tag @institution.thumbnail.variant(resize_to_limit: [100,100]) %>
			<%= link_to delete_attachment_image_admins_institution_path(@institution.id, @institution.thumbnail.id, "thumbnail"), :class => "ms-2 btn btn-danger btn-sm", :data => { :confirm => 'Are You sure want to delete this image?' }, :method => :delete do %>
				<i class="ri-delete-bin-fill"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
	<% if @institution.image.attached? %>
	<tr>
		<td><b>Image</b></td>
		<td>
			<%= image_tag @institution.image.variant(resize_to_limit: [100,100]) %>
		</td>
	</tr>
	<% end %>
	<% if @institution.image1.attached? %>
	<tr>
		<td><b>Image 1</b></td>
		<td>
			<%= image_tag @institution.image1.variant(resize_to_limit: [100,100]) %>
			<%= link_to delete_attachment_image_admins_institution_path(@institution.id, @institution.image1.id, "image1"), :class => "ms-2 btn btn-danger btn-sm", :data => { :confirm => 'Are You sure want to delete this image?' }, :method => :delete do %>
				<i class="ri-delete-bin-fill"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
	<% if @institution.image2.attached? %>
	<tr>
		<td><b>Image 2</b></td>
		<td>
			<%= image_tag @institution.image2.variant(resize_to_limit: [100,100]) %>
			<%= link_to delete_attachment_image_admins_institution_path(@institution.id, @institution.image2.id, "image2"), :class => "ms-2 btn btn-danger btn-sm", :data => { :confirm => 'Are You sure want to delete this image?' }, :method => :delete do %>
				<i class="ri-delete-bin-fill"></i>
			<% end %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td><b>Headline</b></td>
		<td><%= @institution.headline %></td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td><%= raw @institution.description %></td>
	</tr>
	<% unless @institution.description2.blank? %>
	<tr>
		<td><b>Description 1</b></td>
		<td><%= raw @institution.description1 %></td>
	</tr>
	<% end %>
	<% unless @institution.description2.blank? %>
	<tr>
		<td><b>Description 2</b></td>
		<td><%= raw @institution.description2 %></td>
	</tr>
	<% end %>
</table>
