<%= render "shared/contact" %>
<!-- Main Footer -->
<footer class="main-footer style-three">
	<!--Widgets Section-->
	<div class="widgets-section">
		<div class="auto-container">
			<div class="row">
				<div class="big-column col-md-12">
					<div class="sec-title text-center">
						<%= link_to root_path do %>
							<%= image_tag('logo.png', id: 'logo-footer', style: "width:30%;") %>
						<% end %>
					</div>
				</div>
				<div class="big-column col-md-12">
					<div class="row">
						<div class="footer-column col-lg-2 offset-lg-1 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<span class="widget-title"><a href="<%= about_path %>">About Us</a></span>
							</div>
						</div>
						<div class="footer-column col-lg-2 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<span class="widget-title"><a href="<%= specialists_path %>">Specialists</a></span>
							</div>
						</div>
						<div class="footer-column col-lg-2 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<span class="widget-title"><a href="<%= facilities_path %>">Facilities</a></span>
							</div>
						</div>
						<div class="footer-column col-lg-2 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<span class="widget-title"><a href="<%= articles_path %>">News & Event</a></span>
							</div>
						</div>
						<div class="footer-column col-lg-2 col-md-6 col-sm-12">
							<div class="footer-widget links-widget">
								<span class="widget-title"><a href="<%= contact_path %>">Contact Us</a></span>
							</div>
						</div>
					</div>
				</div>
				<div class="big-column col-md-12 flex-center mt-50">
					<div class="content">
						<div class="img-icon">
							<%= image_tag('office_hours.png') %>
						</div>
						<p>
							9:00am to 5:00pm on Weekdays<br/>
							9:00am to 1:00pm on Saturdays
						</p>
					</div>
				</div>
				<div class="big-column col-md-12 flex-center">
					<div class="content">
						<div class="img-icon">
							<%= image_tag('wa_img.png') %>
						</div>
						<h4 class="phone-title text-underline"><%= get_address.phone1 %> (Customer Call)</h4>
						<h4 class="phone-title text-underline"><%= get_address.phone2 %> (Emergency Call)</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Bottom-->
	<div class="footer-bottom">
		<div class="auto-container">
			<div class="outer-box">
				<div class="copyright-text">© 2023 <a href="#">Tria Dipa Hospital</a></div>
				<div class="social-links">
					<a href="<%= configatron.social_facebook_url %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
					<a href="<%= configatron.social_twitter_url %>" target="_blank"><i class="fab fa-twitter"></i></a>
					<a href="<%= configatron.social_instagram_url %>" target="_blank"><i class="fab fa-square-instagram"></i></a>
					<a href="<%= configatron.social_youtube_url %>" target="_blank"><i class="fab fa-youtube"></i></a>
					<a href="<%= configatron.social_tiktok_url %>" target="_blank"><i class="fab fa-tiktok"></i></a>
				</div>
				<div class="terms-link">
					<ul class="list">
						<li><a href="<%= terms_path %>">Terms &amp; Conditions</a></li>
						<li><a href="<%= privacy_path %>">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Main Footer -->
