<%- load_footer_menu -%>
<!-- start footer -->
<footer class="footer-modern-dark bg-black text-white-2 padding-three-tb sm-padding-30px-tb">
	<div class="footer-widget-area padding-40px-bottom sm-padding-30px-bottom">
		<div class="container-xl">
			<div class="row align-items-center">
				<!-- start links -->
				<div class="col-lg-6 col-md-6 social-style-2 text-center text-md-start">
					<div class="footer-links">
						<ul class="text-small margin-20px-top sm-no-margin-bottom text-uppercase p-0 mb-0 list-unstyled">
							<%= raw generate_footer_link(@footer_menu) %>
						</ul>
					</div>
					<%= link_to root_url, class: "margin-20px-bottom sm-margin-40px-bottom d-inline-block" do %>
						<%= image_tag("logo.png", class: "footer-logo", alt: "Indo Energy Corporation") %>
					<% end %>
				</div>
				<!-- end links -->
				<%- if address = Address.all -%>
					<% address.reverse.each_with_index do |adr, index| %>
						<div class="col-6 col-lg-3 col-md-6 <%= 'padding-five-lr' if index == 0 %> text-center text-md-start sm-margin-20px-bottom">
							<h6 class="margin-10px-bottom"><%= adr.name %></h6>
							<span class="d-block text-medium"><%= raw adr.complete_address %></span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="container-xl">
		<!-- start copyright -->
		<div class="footer-bottom border-top border-color-medium-dark-gray padding-40px-top sm-padding-30px-top">
			<div class="row row-cols-1 row-cols-md-2 align-items-center">
				<div class="col text-md-start text-center text-medium">
					<div class="social-icon-style-8 d-inline-block align-middle">
						<ul class="medium-icon mb-0">
							<li><a class="linkedin text-white-2" href="<%= configatron.social_linkedin_url %>" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
							<li><a class="instagram text-white-2" href="<%= configatron.social_instagram_url %>" target="_blank"><i class="fa-brands fa-instagram no-margin-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col text-md-end text-center text-medium">&copy; 2024 Indonesia Energy Corporation</div>
			</div>
		</div>
		<!-- end copyright -->
	</div>
</footer>
<!-- end footer -->

