<!-- Header Span -->
<span class="header-span"></span>

<!-- Main Header-->
<header class="main-header alternate -type-12">
	<div class="auto-container">
		<!-- Main box -->
		<div class="main-box">
			<!--Nav Outer -->
			<div class="nav-outer">
				<div class="logo-box">
					<div class="logo">
						<%= link_to root_path do %>
							<%= image_tag('logo.png') %>
						<% end %>
					</div>
				</div>
			</div>

			<div class="outer-box">
				<nav class="nav main-menu">
					<%= render "shared/menu" %>
				</nav>
				<!-- Login/Register -->
				<div class="btn-box">
					<a href="#" class="theme-btn btn-style-one"><span class="btn-title">Make an Appointment</span></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile Header -->
	<div class="mobile-header">
		<div class="logo">
			<%= link_to root_path do %>
				<%= image_tag('logo.png') %>
			<% end %>
		</div>

		<!--Nav Box-->
		<div class="nav-outer clearfix">
			<div class="outer-box">
				<!-- Login/Register -->
				<a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
			</div>
		</div>
	</div>

	<!-- Mobile Nav -->
	<div id="nav-mobile"></div>
</header>
<!--End Main Header -->
