<ul class="navigation" id="navbar">
	<li class="<%= 'active' if is_about_page? %>"><a href="<%= about_path %>">About Us</a></li>
	<li class="<%= 'active' if is_specialists_page? %>"><a href="<%= specialists_path %>">Specialists</a></li>
	<li class="<%= 'active' if is_facilities_page? %>"><a href="<%= facilities_path %>">Facilities</a></li>
	<li class="<%= 'active' if is_contact_page? %>"><a href="<%= contact_path %>">Contact Us</a></li>

	<!-- Only for Mobile View -->
	<li class="mm-add-listing">
		<a href="#" class="theme-btn btn-style-one">Make an Appointment</a>
	</li>
</ul>
