<!-- mobile menu -->
<button type="button" class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".veritas-mobile-menu">
	<span class="sr-only">toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>

<!-- start main menu -->
<div class="full-screen veritas-mobile-menu d-block d-lg-none collapse">
		<div class="row g-0 h-100 justify-content-center">
				<div class="col-12 px-0 bg-yellow full-screen d-flex flex-column justify-content-between xs-padding-10px-top">
					<div class="navbar">
						<div class="container-fluid nav-header-container">
							<!-- start logo -->
							<div class="center-logo">
								<%= link_to root_path, class: "logo" do %>
									<%= image_tag("logo.png", alt: "Indo Energy Corporation") %>
								<% end %>
							</div>
							<!-- end logo -->
							<div class="col col-lg-12">
								<button class="navbar-toggler close-button-menu close-button-mobile-menu" data-bs-toggle="collapse" data-bs-target=".veritas-mobile-menu"></button>
							</div>
						</div>
					</div>
						<div class="w-100 overflow-auto">
								<div class="h-100 w-100">
										<div class="h-100 w-100 align-middle padding-eighteen-lr alt-font link-style-2 lg-padding-fourteen-lr xs-padding-15px-lr">
												<!-- start menu -->
												<ul class="font-weight-400 no-padding-left">
													<%= raw generate_popup_menus_mobile(@right_menu, @left_menu) %>
												</ul>
												<!-- end menu -->
										</div>
								</div>
						</div>
						<div class=" d-flex justify-content-between padding-three-all">
							<div class="text-medium d-flex gap-10 align-items-center">
								<a href="<%= @en_path %>">EN</a> |
								<a href="<%= @id_path %>">ID</a>
							</div>
							<!-- start social links -->
							<div class="social-icon-style-8">
								<ul class="medium-icon mb-0">
									<li class="margin-15px-left"><a class="facebook" href="<%= configatron.social_facebook_url %>" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
									<li><a class="twitter" href="<%= configatron.social_twitter_url %>" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
									<li><a class="instagram" href="<%= configatron.social_instagram_url %>" target="_blank"><i class="fa-brands fa-instagram me-0" aria-hidden="true"></i></a></li>
									<li><a class="youtube" href="<%= configatron.social_youtube_url %>" target="_blank"><i class="fa-brands fa-youtube me-0" aria-hidden="true"></i></a></li>
									<li><a class="linkedin" href="<%= configatron.social_linkedin_url %>" target="_blank"><i class="fa-brands fa-linkedin-in me-0" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<!-- start social links -->
						</div>
				</div>
		</div>
</div>
<!-- end main menu -->
