<!-- Blog Single -->
<section class="blog-single">
	<div class="auto-container">
		<div class="row justify-content-center align-items-center text-center">
			<div class="section-title-page col-lg-12">
				<h2 class="fw-700"><%= @facility.name %></h2>
				<div class="text"><%= @facility.headline %></div>
			</div>
		</div>
	</div>
	<div class="auto-container">
		<div class="row justify-content-between">
			<div class="col-lg-12 text-center pt-30 pb-30">
				<%= image_tag @facility.image.variant(resize: "1132x390").processed, class: "border-radius-8" %>
			</div>
			<div class="col-lg-12">
				<div class="margin-left-right-150">
					<%= raw @facility.description %>
				</div>
			</div>
		</div>
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6 img1 pt-30 pb-30 text-center">
				<%= image_tag @facility.image1.variant(resize: "500x500").processed, class: "border-radius-8" if @facility.image1.attached? %>
			</div>
			<div class="col-lg-6 img2 pt-30 pb-30 text-center">
				<%= image_tag @facility.image2.variant(resize: "500x500").processed, class: "border-radius-8" if @facility.image2.attached? %>
			</div>
			<div class="col-lg-6">
				<%= raw @facility.description1 %>
			</div>
			<div class="col-lg-6">
				<%= raw @facility.description2 %>
			</div>
		</div>
	</div>
</section>
<!-- End Blog Single -->
<%= content_for :tail do %>
<style>
	.blog-single .img1 > img,
	.blog-single .img2 > img {
		width: 80%;
	}
</style>
<% end %>
