<!-- Fun Fact Section -->
<section class="fun-fact-section style-two">
	<div class="auto-container">
		<div class="row wow fadeInUp">
			<!-- Category Block -->
			<div class="category-block-three -type-2 col-lg-3 col-md-6 col-12">
				<div class="inner-box" onclick="location.href='<%= doctors_path %>';">
					<div class="content">
						<%= image_tag("icons/doctor.png") %>
						<h4><a href="<%= doctors_path %>">Find<br/>Doctors</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<!-- Category Block -->
			<div class="category-block-three -type-2 col-lg-3 col-md-6 col-12">
				<div class="inner-box" onclick="location.href='<%= specialists_path %>';">
					<div class="content">
						<%= image_tag("icons/stetoscope.png") %>
						<h4><a href="<%= specialists_path %>">Browse<br/>Specialists</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<!-- Category Block -->
			<div class="category-block-three -type-2 col-lg-3 col-md-6 col-12">
				<div class="inner-box">
					<div class="content">
						<%= image_tag("icons/hospital.png") %>
						<h4><a href="<%= facilities_path %>">Check Our<br/>Facilities</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
			<!-- Category Block -->
			<div class="category-block-three -type-2 col-lg-3 col-md-6 col-12">
				<div class="inner-box" onclick="location.href='<%= contact_path %>';">
					<div class="content">
						<%= image_tag("icons/location.png") %>
						<h4><a href="<%= contact_path %>">Locate<br/>Tria Dipa</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Fun Fact Section -->
