<!-- start page single banner -->
<% if banner.is_video? %>
<section id="<%= banner.section_id %>" class="p-0 single-banner parallax">
<% else %>
<section id="<%= banner.section_id %>" class="p-0 single-banner parallax" data-parallax-background-ratio="0.5" style="background-image:url('<%= url_for(banner.image) if banner.image.attached? %>');">
<% end %>
	<div class="full-screen <%= @banner_text_color %>">
		<% if banner.section_id == "banner_home" %>
			<div id="container"></div>
		<% end %>
		<div class="container-xl position-relative h-100">
			<div class="row h-100 align-items-center">
				<div class="col-xl-10 col-md-10">
					<h1 class="font-weight-600 text-white-2 alt-font margin-20px-bottom sm-margin-10px-bottom"><%= raw banner.title %></h1>
					<div><%= raw banner.description %></div>
					<% banner.link_buttons.each do |link_button| %>
						<%= render_link_text_url(link_button, "btn btn-medium #{@banner_btn_color} btn-rounded margin-20px-top") %>
					<% end %>
				</div>
			</div>
		</div>
		<%- if banner.is_video? -%>
		<video class="htms-video" poster="<%= url_for(banner.image) if banner.image.attached? %>" autoplay loop muted playsinline>
			<source type="<%= banner.video.content_type %>" src="<%= url_for(banner.video) %>">
		</video>
		<%- end -%>
	</div>
</section>
<!-- end page single banner -->

<% if banner.section_id == "banner_home" %>
	<%= render "banner_home" %>
<% end %>
