<%- portfolios = Portfolio.first(2) %>
<% unless portfolios.empty? %>
<div class="container-xl">
	<div class="row justify-content-start align-items-center sm-no-margin-bottom wow animate__fadeIn">
		<div class="col-6 col-lg-7 text-gray">
			<% unless snippet.caption.blank? %>
				<span class="d-block mb-2 text-uppercase text-caption"><%= snippet.caption %></span>
			<% end %>
			<h5 class="font-weight-800 mb-4"><%= snippet.title %></h5>
		</div>
		<div class="col-6 col-lg-5 no-padding-lr text-start text-md-end">
			<%- if link_button = snippet.link_buttons.first -%>
				<%= render_link_text_url(link_button, "btn btn-medium btn-transparent-veritas text-gray text-uppercase btn-rounded btn-border margin-30px-bottom") %>
			<%- end -%>
		</div>
	</div>
	<div class="row">
		<div class="col-12 blog-content">
			<ul class="blog-classic blog-wrapper grid grid-loading grid-2col xl-grid-2col lg-grid-2col md-grid-2col sm-grid-2col xs-grid-1col gutter-large">
				<li class="grid-sizer"></li>
				<% portfolios.each do |portfolio| %>
					<!-- start post item -->
					<li class="grid-item last-paragraph-no-margin wow animate__fadeInUp">
						<div class="blog-post blog-post-style1 text-start">
							<div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom border-radius-8">
								<a href="<%= page_path(portfolio.page) %>">
									<%= image_tag url_for(portfolio.image), alt: portfolio.name %>
								</a>
							</div>
							<div class="post-details margin-20px-bottom w-95 sm-w-100">
								<a href="<%= page_path(portfolio.page) %>" class="post-title font-weight-600 text-extra-large text-black text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom"><%= portfolio.name %></a>
							</div>
						</div>
					</li>
					<!-- end post item -->
				<% end %>
			</ul>
		</div>
	</div>
</div>
<% end %>
