<%- articles = Article.first(4) %>
<% unless articles.empty? %>
<div class="container-xl">
	<% unless @page.title.downcase == "press release" %>
	<div class="row justify-content-start align-items-center wow animate__fadeIn">
		<div class="col-6 col-lg-7 text-gray">
			<% unless snippet.caption.blank? %>
				<span class="d-block mb-2 text-uppercase text-caption"><%= snippet.caption %></span>
			<% end %>
			<h5 class="font-weight-800 mb-4"><%= snippet.title %></h5>
		</div>
		<div class="col-6 col-lg-5 no-padding-lr text-start text-end">
			<%- if link_button = snippet.link_buttons.first -%>
				<%= render_link_text_url(link_button, "btn btn-medium btn-transparent-veritas text-gray text-uppercase btn-rounded btn-border margin-30px-bottom") %>
			<%- end -%>
		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="col-12 blog-content no-padding-lr">
			<ul class="hover-option4 blog-post-style3 blog-grid blog-wrapper grid grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
				<li class="grid-sizer"></li>
				<% articles.each do |article| %>
				<!-- start post item -->
				<li class="grid-item last-paragraph-no-margin text-start wow animate__fadeInUp">
					<div class="blog-post bg-light-grey border-radius-10">
						<div class="post-details padding-40px-all md-padding-20px-all">
							<span class="post-author text-medium text-extra-dark-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom"><%= article.try(:published_date).try(:strftime, '%d/%m/%Y') %></span>
							<a href="<%= article_path(article) %>" class="alt-font post-title font-weight-400 text-extra-large text-extra-dark-gray d-block margin-10px-bottom sm-margin-5px-bottom"><%= article.title %></a>
							<%= link_to article_path(article), class: "btn btn-medium btn-line text-gray text-uppercase margin-20px-top sm-margin-10px-top" do %>
								<%= t('global.read_more') %> <i class="fa-solid fa-arrow-right icon-very-small" aria-hidden="true"></i>
							<% end %>
						</div>
					</div>
				</li>
				<!-- end post item -->
				<% end %>
			</ul>
		</div>
	</div>

</div>
<% end %>
