<%= simple_form_for @archive_type, url: (@archive_type.new_record? ? admins_archive_types_path : admins_archive_type_path(@archive_type.id)), method: (@archive_type.new_record? ? :post : :put) do |f| %>
	<%= f.error_notification %>
	<fieldset>
		<%= f.input :name, as: :string %>
	</fieldset>
	<%= f.error :base %>
	<div class="form-actions">
		<%= f.button :submit, :class => 'btn btn-secondary' %>
		<% unless @archive_type.new_record? %>
			<%= link_to "Cancel", admins_archive_type_path(@archive_type.id), :class => 'btn btn-light' %>
		<% else %>
			<%= link_to "Cancel", admins_archive_types_path, :class => 'btn btn-light' %>
		<% end %>
	</div>
<% end %>
