<div class="row">
	<div class="col-lg-12">
		<div class="card overflow-hidden">
			<div class="row g-0">
				<div class="col-lg-6">
					<div class="p-lg-5 p-4 auth-one-bg h-100">
						<div class="bg-overlay"></div>
						<div class="position-relative h-100 d-flex flex-column">
							<div class="mb-4">
								<a href="<%= root_url %>" class="d-block">
									<%= image_tag('logo.png', :height => "50") %>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-6">
					<div class="p-lg-5 p-4">
						<%= flash_message %>
						<div>
							<h5 class="text-black">Welcome Back !</h5>
							<p class="text-muted">Sign in to continue to Admin Panel.</p>
						</div>
						<div class="mt-4">
							<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
								<div class="mb-3">
									<label for="admin_email" class="form-label">Email</label>
									<input type="email" class="form-control" id="admin_email" name="admin[email]" placeholder="Enter email">
								</div>
								<div class="mb-3">
									<label class="form-label" for="admin_password">Password</label>
									<div class="position-relative auth-pass-inputgroup mb-3">
										<input type="password" class="form-control pe-5 password-input" placeholder="Enter password" id="admin_password" name="admin[password]">
										<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
									</div>
								</div>
								<div class="mt-4 text-center">
									<button class="btn btn-primary" type="submit">Login</button>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= content_for :tail do %>
	<%= javascript_include_tag "password-addon.init.js" %>
<% end %>
