<%= simple_form_for [:admins, @banner_section] do |f| %>
	<%= f.error_notification %>
	<fieldset>
		<%= f.input :name %>
		<%= f.input :style, as: :select, collection: get_banner_styles, label_method: :second, value_method: :first %>
		<%= f.input :size, as: :select, collection: get_banner_sizes, label_method: :second, value_method: :first %>
	</fieldset>
	<%= f.error :base %>
	<div class="form-actions">
		<%= f.button :submit, :class => 'btn btn-secondary' %>
		<% unless @banner_section.new_record? %>
			<%= link_to "Cancel", admins_banner_section_path(@banner_section), :class => 'btn btn-light' %>
		<% else %>
			<%= link_to "Cancel", admins_banner_sections_path, :class => 'btn btn-light' %>
		<% end %>
	</div>
<% end %>
