<!-- About Section -->
<section class="about-section style-two layout-pt-60">
	<div class="auto-container border-bottom-green">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-12">
				<div class="row">
					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12 col-sm-12">
						<figure class="image wow fadeInLeft">
							<% if @doctor.photo.attached? %>
								<%= image_tag url_for(@doctor.photo), class: "border-radius-8" %>
							<% else %>
								<%= image_tag "doctor-avatar.png", class: "border-radius-8" %>
							<% end %>
						</figure>
					</div>

					<!-- Content Column -->
					<div class="content-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column wow fadeInUp">
							<div class="sec-title mt-0">
								<h2 style="margin-bottom:10px;"><%= @doctor.profesional_name %></h2>
								<div style="font-size:18px;margin-bottom:50px;font-weight:900;"><%= @doctor.title %></div>

								<ul class="accordion-box">
									<!--Block-->
									<li class="accordion block active-block">
										<div class="acc-btn active">Doctor Schedule <span class="icon flaticon-add"></span></div>
										<div class="acc-content current">
											<div class="content">
												<%= raw @doctor.operational_hours_label %>
											</div>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12">
				<div class="orange-card">
					<h4 class="mb-20">Schedule & Book Appointment</h4>
					<p class="text-white mb-20">
						Make an appointment with us today and be seen by one of our many healthcare professionals as soon as possible.
					</p>
					<a href="#" class="theme-btn btn-style-five medium">Make Appointment</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Section -->
<%= render "other_doctors" unless @doctors.empty? %>

<style>
	.content-column {
		margin-bottom: 0 !important;
	}
	.content-column ul,
	.content-column p{
		margin-bottom: 20px;
	}
	.text p {
		margin-bottom: 20px;
	}
	.about-section.style-two .content-column h2 {
		font-size: 30px;
	}
</style>
