<% title_page("Change My Password") %>
<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<%= simple_form_for current_admin, url: admins_update_password_path, method: :put do |f| %>
					<%= f.error_notification %>
					<fieldset>
						<%= f.input :full_name %>
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :password_confirmation %>
					</fieldset>
					<%= f.error :base %>
					<div class="form-actions">
						<%= f.button :submit, "Save Password", :class => 'btn btn-secondary' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
