<% title_page("Menu details") %>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<td style="width:10%;"><b>ID</b></td>
						<td><%= @menu.id %></td>
					</tr>
					<tr>
						<td><b>Section</b></td>
						<td><h5 class="fs-14 mb-0 text-body"><%= @menu.section_label %></h5></td>
					</tr>
					<tr>
						<td><b>JSON Data</b></td>
						<td><%= raw @menu.data %></td>
					</tr>
				</table>
				<div class="form-actions">
					<%= link_to 'Edit', edit_admins_menu_path(@menu), :class => 'btn btn-secondary' %>
					<%= link_to 'Destroy', admins_menu_path(@menu), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-danger' %>
					<%= link_to 'View All', admins_menus_path, :class => 'btn btn-light' %>
				</div>
			</div>
		</div>
	</div>
</div>
