<% title_page("testimonial details") %>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<td style="width:15%;"><b>ID</b></td>
						<td><%= @testimonial.id %></td>
					</tr>
					<% if @testimonial.photo.attached? %>
					<tr>
						<td><b>Image</b></td>
						<td>
							<%= image_tag @testimonial.photo.variant(resize_to_limit: [100,100]) %>
						</td>
					</tr>
					<% end %>
					<tr>
						<td><b>Full Name</b></td>
						<td>
							<h5 class="fs-14 mb-0 text-body"><%= @testimonial.full_name %></h5>
						</td>
					</tr>
					<tr>
						<td><b>Comment</b></td>
						<td><%= @testimonial.comment %></td>
					</tr>
				</table>
				<div class="form-actions">
					<%= link_to 'Edit', edit_admins_testimonial_path(@testimonial), :class => 'btn btn-secondary' %>
					<%= link_to 'Destroy', admins_testimonial_path(@testimonial), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-danger' %>
					<%= link_to 'View All', admins_testimonials_path, :class => 'btn btn-light' %>
				</div>
			</div>
		</div>
	</div>
</div>
