<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="google-site-verification" content="<%= configatron.google_site_verification %>" />
	<title><%= @meta_title.nil? ? configatron.site_title : @meta_title %></title>
	<meta name="title" content="<%= @meta_title.nil? ? configatron.site_title : @meta_title %>">
	<meta name="description" content="<%= @meta_desc.nil? ? configatron.site_description : truncate_paragraph(@meta_desc,160) %>">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="<%= request.original_url %>">
	<meta property="og:title" content="<%= @meta_title.nil? ? configatron.site_title : @meta_title %>">
	<meta property="og:description" content="<%= @meta_desc.nil? ? configatron.site_description : truncate_paragraph(@meta_desc,160) %>">
	<meta property="og:image" content="<%= configatron.image_logo_url %>">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="<%= request.original_url %>">
	<meta property="twitter:title" content="<%= @meta_title.nil? ? configatron.site_title : @meta_title %>">
	<meta property="twitter:description" content="<%= @meta_desc.nil? ? configatron.site_description : truncate_paragraph(@meta_desc,160) %>">
	<meta property="twitter:image" content="<%= configatron.image_logo_url %>">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

	<!-- Main style -->
	<%= stylesheet_link_tag :application %>
	<%= yield :head %>
	<%= favicon_link_tag asset_path("favicon.png") %>
	<%= csrf_meta_tag %>
	<%= csp_meta_tag %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body data-anm=".anm">
  <div class="page-wrapper">
		<div id="forFlashMessage">
			<%= flash_message %>
		</div>
		<%= render "shared/header" %>
		<%= yield %>
		<%= render "shared/footer" %>
  </div>
	<!-- END layout-wrapper -->
	<div class="modal fade" id="myModal">
		<div id="login-modal">
			<div class="login-form default-form">
				<div class="form-inner">
				</div>
			</div>
		</div>
	</div>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<%= yield :tail %>
</body>
</html>
